<!-- Rectangle centrale principale -->
<div class="h-screen w-screen flex justify-center items-center" style="position: relative; z-index: 2;">
  <div class="h-full w-full flex justify-center" style="background-color: #F4E8E0; width: 390px; height: 800px; position: relative; overflow: hidden;">
    <app-BovaleHaut/>
    <!-- Ovale en bas a gauche -->
    <ng-container *ngIf="conversationUpDisplay">
      <div class="rounded-full absolute" style="width: 120px; height: 500px; background-color: #C9B2C9; bottom: -440px; left: -30px; z-index: 3; border-radius: 50%;" (click)="onclickOvaleUp()"></div>
      <app-BmessageInput [username]="this.username" [domain]="this.domain"/>
      <app-Bconversation/>
    </ng-container>
    <ng-container *ngIf="!conversationUpDisplay">
      <div class="rounded-full absolute" style="width: 120px; height: 500px; background-color: #C9B2C9; top:90px; left: -30px; z-index: 0; border-radius: 50%;"  [@slideFromBottom]="conversationUpDisplay" ></div>

        <!--Mes Conversation -->
        <div class="h-full w-full absolute overflow-scroll overflow-x-hidden"   [@slideFromBottom]="conversationUpDisplay"  style="top: 130px; background-color: #C9B2C9;">
          <div class="h-full w-full absolute " style="left: 17px; background-color: #C9B2C9;">
            <ul class="h-full w-full " style=" width: 356px; height: 72px; border-radius: 0px 20px 0px 0;">
              <ng-container *ngIf="isConversationExist">
                <li *ngFor="let conversation of conversations" style="width: 356px; height: 72px;"class="conversation-item">
                  <ng-container *ngIf="conversation.isIntern">
                    <app-ConversationHistoriqueComponent [conversation] = "conversation" (click)="onConversationClick(conversation.username); onclickOvaleUp()"></app-ConversationHistoriqueComponent>
                  </ng-container>
                  <ng-container *ngIf="!conversation.isIntern   ">
                    <app-ConversationHistoriqueComponent  [conversation] = "conversation" (click)="onConversationClick(conversation.username); onclickOvaleUp()"></app-ConversationHistoriqueComponent>
                  </ng-container>
                </li>
              </ng-container>
              <ng-container *ngIf="!isConversationExist">
                <div class="h-full d-flex align-items-center justify-content-center">
                  <div class="rounded" style="background-color: white; text-align: center; padding: 10px;">
                    <p>Aucune conversation en cours</p>
                  </div>
                </div>
              </ng-container>
            </ul>
          </div>
        </div>
    </ng-container>

  </div>
</div>
