<div class="h-full w-full bg-transparent" style="top: 80px;">
  <div class="h-full w-full absolute overflow-hidden" style="background-color: #C9B2C9;">
    <div class="h-full w-full absolute mt-2" style="background-color: #C9B2C9; display: flex;">
      <div style="margin-left: 20px">
        <div class="absolute rounded-full" style=" top: 30px; left: 123px; width: 200px; height: 200px; position: relative; overflow: hidden;" (click)="toggleParametre()">
          <img *ngIf="picture" [src]="picture" alt="User Picture" style=" top: 21px; left: 10px; width: 100px; height: 100px; position: relative; overflow: hidden; border-radius: 50%" (click)="toggleParametre()">
        </div>
      </div>
      <div class="absolute rounded-lg" style="width: 300px; height: 50px; background: #F5F2E8; margin-left: 50px; margin-top: 210px">
        <input class="focus:outline-none p-4" style="width: 300px; height: 50px; background-color: transparent;" placeholder="Change Username (Not working yet!)"/>
      </div>
      <div class="absolute rounded-lg" style="width: 300px; height: 50px; background:#F5F2E8; margin-left: 50px; margin-top: 270px">
        <div class="flex justify-center items-center h-full text-black" style="width: 300px; height: 50px; background-color: transparent; cursor: pointer"
        (click)="logout(); toggleParametre()">
          Déconnexion
        </div>
      </div>
    </div>
  </div>
</div>



