<div class="h-full w-full flex justify-center" style="background-color: #F4E8E0; width: 390px; height: 800px; position: relative; overflow: hidden;">
<!-- Ovale en haut -->
<div class="rounded-full absolute" style="width: 400px; height: 200px; background-color: #F2CACA; top: -100px; z-index: 3; border-radius: 50%;" ></div>
<!-- Photo de profil de nom de la personne-->
<div class="h-full w-full flex flex-col items-center" style="z-index: 4; width:200px; height:90px">
  <img [src]="photo" class="h-full w-full rounded-full absolute mb-2 mt-6" style="width: 40px; height: 40px; z-index: 4;" />
  <div class="mt-16 overflow-hidden" style="z-index: 4; max-width: 100px;">
    <div class="truncate">{{name}}</div>
  </div>
</div>
<!-- Masquage pour cacher les parties indésirables de l'ovale -->
<div class="absolute h-1/2 w-full top-0" style="background-color: #F4E8E0;"></div>
<div class="absolute h-full w-1/2 right-0" style="background-color: #F4E8E0;"></div>
</div>